{% extends 'gsportal/layout.html' %}

{% block body %}

<div class="table-responsive container pt-2" style="margin-top:80px">
<h5 class="text-primary">My Alerts</h5>
<form class="hide-submit" id="alertTableDelete" action="{% url 'alerts' %}" method="post">
  {% csrf_token %}
  <table id='alertsTable' class="table">
  <thead>
    <tr class="d-flex">
      <th class="col-2" scope="col">Symbol</th>
      <th class="col-2" scope="col">&nbsp;&nbsp;<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z"/>
</svg></th>
      <th class="col-3" scope="col" style="text-align:right">Price&nbsp;&nbsp;</th>
      <th class="col-2 cellIcon" scope="col">Text</th>
      <th class="col-2 cellIcon" scope="col">Email</th>
      <th class="col-1 cellIcon" scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for alert in alerts %}

      <tr class="d-flex">
        <td class="col-2">{{ alert.symbol }}</td>
        <td class="col-2">{{ alert.movement }}</td>
        <td class="col-3" style="text-align:right">{{ alert.threshold }}</td>
        <td class="col-2 cellIcon">
          {% if alert.text_notification %}
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
            </svg>
          {% endif %}
        </td>
        <td class="col-2 cellIcon">
          {% if alert.email_notification %}
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
            </svg>
          {% endif %}
        </td>
        <td class="col-1 cellIcon">
          <label style="cursor:pointer">
            <input type="submit" name="button" value="delete{{ alert.pk }}" id="alertDelete"  value="del-alert"></input>
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
          </svg>
          </label>
        </td>
      </tr>
    {% empty %}
      <tr><td>
        You do not have any alerts
      </td></tr>
    {% endfor %}

  </tbody>
</table>
</form>
</div>



<div class="container  pt-2" id="alertFormContainer">
  <h5 class="text-primary">Create Alert</h5>
  <form class="hide-submit"  id="alertForm" action="{% url 'alerts' %}" method="post">
    {% csrf_token %}
    <table class="table">
      <tr class="d-flex">
        <td class="col-2 alertCells">{{ form.symbol }}</td>
        <td class="col-2 alertCells">{{ form.movement }}</td>
        <td class="col-3 alertCells">{{ form.threshold }}</td>
        <td class="col-2 alertCells cellIcon">{{ form.text_notification }}</td>
        <td class="col-2 alertCells cellIcon">{{ form.email_notification }}</td>
        <td class="col-1 alertCells cellIcon">
          <label style="cursor:pointer">
            <input type="submit" id="alertSubmit"  name="button" value="add-alert"></input>
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
              </svg>
          </label>
        </td>

      </tr>
    </table>
  </form>
</div>

{% endblock %}
